@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
	--main-color: rgb(127, 38, 7);
	--main-color-dark: rgb(69, 22, 2);
	--main-color-gray: #323132;
	--sec-color: #fff;

	--main-font: "Roboto", sans-serif;
}

body {
	font-family: var(--main-font) !important;
	background-color: var(--main-color-gray);
}

.text-main {
	color: var(--main-color);
}
.text-sec {
	color: var(--sec-color);
}

.bg-main {
	background-color: var(--main-color) !important;
}
.bg-main-dark {
	background-color: var(--main-color-dark);
}
.bg-main-gray {
	background-color: var(--main-color-gray);
}
.bg-sec {
	background-color: var(--sec-color);
}
